body {
  font-family: "Poppins", sans-serif;
}

.custom-max-width {
  max-width: 500px;
}


@media (min-width: 992px) {
  .custom-max-width-lg {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .w-lg-50 {
  width: 50% !important;
  }
}

/* Navbar */
.transparent-bg {
  background-color: #ece8e5;
  transition: background-color 0.5s;
}
.utama-bg {
  background-color: #537052;
  shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.textNav {
  color: #222831 !important;
}

.afterScroll {
color: #eaf6ea !important;
}

.btnSeach {
  background-color: #537052 !important;
  color: #eaf6ea !important;
}

.btnSeachAfterScroll {
  background-color: #40513B !important;
  color: #eaf6ea !important;
}

.btnNavRes {
  border: none !important;
  outline: none !important;
}

.navMedia a {
  color: #222831;
}

/* hero section */

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/HeroSection3.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
}

#hero h4,
#hero h1,
#hero p {
  color: #222831;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: -1;
}

/* best seller */
.btn-primary {
  background-color: #537052 !important;
  border: none !important;
  color: #eaf6ea !important;
}

.cardBst {
  background-color: #ebeae6 !important;
  border: none !important;
}

.bst-seller {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* About */

.text-about {
  color: #537052 !important;
}

#about h5 {
  font-family: "Sacramento", cursive;
}

/* Best seller */
#bestSeller h1 {
  font-family: "Sacramento", cursive;
  color: #537052 !important;
}

.cards {
  width: 290px;
  background: white;
  padding: .4em;
  border-radius: 6px;
  max-height: 400px;
  min-height: 350px;
}

.card-image {
  background-color: #ebeae6;
  width: 100%;
  height: 70%;
  min-height: 250px;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.card-image img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-image:hover {
  transform: scale(0.98);
}

.heading {
  font-weight: 600;
  color: #222831;
  padding-top: 7px;
}

.eye {
  cursor: pointer;
}

#products h1 {
  font-family: "Sacramento", cursive;
  color: #537052 !important;
}

/* Recently */
#recently h1 {
  font-family: "Sacramento", cursive;
  color: #537052 !important;
}

#recently .card {
  max-height: 200px;
}

.product-card {
  border-radius: 20px;
  background-color: white !important;
  overflow: hidden;
  max-height: 300px;
}

.product-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity to make it darker or lighter */
  z-index: 1;
}

.product-card .position-absolute {
  z-index: 2;
}

.contact-section {
    padding: 50px 0;
}
.form-control {
    border-radius: 0;
}
.btn-custom {
    background-color: #007bff;
    color: white;
    border-radius: 0;
}

/* Contact */

.contact-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact h2 {
  font-family: "Sacramento", cursive;
  color: #537052 !important;
}

.mainContact {
  max-height: 100px;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 44.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#products,
#recently,
#contact {
  margin-bottom: 100px !important;
}

/* Footer */

.footer {
  background: #537052;
  color: #EDF1D6;
  padding: 40px 0;
}
.footer a {
  color: #EDF1D6;
  text-decoration: none;
}
.footer a:hover {
  color: #EDF1D6;
}
.footer .social-icons a {
  font-size: 20px;
  margin: 0 10px;
  color: white;
}
.footer .social-icons a:hover {
  color: #EDF1D6;
}